<header class="page-header" id="page-label" aria-label="Page title">

<div class="page-title" id="page-title">
<span class="page-title-label">
<a href="{{ site.baseurl }}" title="{{ site.title }}"><i class="fas fa-home"></i>
</a>
</span>

{% if site.data.navigation["header"] %}
{% include navigation.html scope="header" %}
{% endif %}
</div>

<div class="page-description" id="page-description">
<span class="page-description">{{ page.title | default: site.description }}</span><!-- strip_html? -->
</div>
<div class="page-excerpt" id="page-excerpt">
<span class="page-excerpt">{{ page.excerpt | default: site.excerpt }}</span>
</div>

</header>

{% if site.data.navigation["main"] %}
{% include navigation.html scope="main" %}
{% endif %}
