{%- comment -%} Empty variables {%- endcomment -%}
{%- assign this_page  = nil -%}
{%- assign this_url   = nil -%}
{%- assign this_title = nil -%}

{%- comment -%} If include.entry.url==nil ... thispage = site.pages! {%- endcomment -%}
{%- if include.entry.url -%}
  {%- comment -%}If include.entry.url==nil ... thispage = site.pages!{%- endcomment -%}
  {%- assign this_page = site.pages | where: "path", include.entry.url | first -%}
{%- endif -%}

{%- comment -%} Determine URL {%- endcomment -%}
{%- if include.entry.url contains '://' -%}
  {%- assign this_url = include.entry.url -%}
{%- elsif this_page.url -%}
  {%- assign this_url = this_page.url | relative_url -%}
{%- elsif include.entry.url -%}
  {%- assign this_url = include.entry.url | relative_url -%}
{%- endif -%}

{%- comment -%} Determine title {%- endcomment -%}
{%- if include.entry.title -%}
  {%- assign this_title = include.entry.title -%}
{%- elsif this_page.title -%}
  {%- assign this_title = this_page.title -%}
{%- else -%}
  {%- assign this_title = 'Unknown title' -%}
{%- endif -%}

{%- comment -%} Construct button and begin sublist with parent item {%- endcomment -%}
{%- if include.entry.sub.size > 0 %}
<li><button class="page-navigation-sublist">{{- this_title -}}<i class="fas fa-angle-down" style="padding-left: 5px; text-align: right;"></i></button>
<ul class="page-navigation-sublist">
{%- endif %}
{%- comment -%} Construct list entry {%- endcomment %}
<li {%- if this_url == page.url %} active{%- endif -%}>
{%- if this_url -%}
<a href="{{- this_url -}}">
{%- endif -%}
{%- if include.entry.img -%}
<img src="{{- include.entry.img -}}" alt="{{- this_title -}}">
{%- else -%}
{{- this_title -}}
{%- endif -%}
{%- if this_url -%}
</a>
{%- endif -%}
</li>
{%- comment -%} Construct sublist entries {%- endcomment -%}
{%- if include.entry.sub.size > 0 %}
{%- for sub in include.entry.sub -%}
{%- include navigation-item.html entry=sub -%}
{%- endfor %}
</ul>
</li>
{%- endif -%}
