{%- comment -%} Empty variables {%- endcomment -%}
{%- assign this_page  = nil -%}
{%- assign this_url   = nil -%}
{%- assign this_title = nil -%}

{%- unless include.entry.collection -%}

{%- comment -%} If include.entry.url==nil ... site.pages is returned in where condition! {%- endcomment -%}
{%- if include.entry.url -%}
  {%- assign this_page = site.pages | where: "path", include.entry.url | first -%}
{%- endif -%}

{%- comment -%} Determine URL {%- endcomment -%}
{%- if include.entry.url contains '://' -%}
  {%- assign this_url = include.entry.url -%}
{%- elsif this_page.url -%}
  {%- assign this_url = this_page.url | relative_url -%}
{%- elsif include.entry.url -%}
  {%- assign this_url = include.entry.url | relative_url -%}
{%- endif -%}

{%- comment -%} Determine title {%- endcomment -%}
{%- if include.entry.title -%}
  {%- assign this_title = include.entry.title -%}
{%- elsif this_page.title -%}
  {%- assign this_title = this_page.title -%}
{%- else -%}
  {%- assign this_title = 'Unknown title' -%}
{%- endif -%}

{%- comment -%} Construct button and begin sublist with parent item {%- endcomment -%}
{%- if include.entry.sub.size > 0 %}
<li role="none"><button class="page-navigation-sublist" aria-haspopup="true">{{- this_title -}}<i class="fas fa-angle-down"></i></button>
<ul class="page-navigation-sublist" role="menu" aria-modal="true">
{%- endif %}
{%- comment -%} Construct first list entry if it not just a title {%- endcomment %}
{%  if this_url -%}
<li role="none" {%- if this_url == page.url %} aria-current="page" class="active"{%- endif -%}>
<a role="menuitem" href="{{- this_url -}}" title="{{- this_title -}}">
{%- if include.entry.img -%}
<img src="{{- include.entry.img -}}" alt="{{- this_title -}}">
{%- else -%}
{%- if include.entry.aws_icon or this_page.aws_icon -%}
<i class="{{ this_page.aws_icon | default: include.entry.aws_icon }}" aria-hidden="true"></i>
{%- endif -%}
{{- this_title -}}
{%- endif -%}
</a>
</li>
{%- endif -%}
{%- comment -%} Construct sublist entries {%- endcomment -%}
{%- if include.entry.sub.size > 0 %}
{%- for sub in include.entry.sub -%}
{%- include navigation-item.html entry=sub -%}
{%- endfor %}
</ul>
</li>
{%- endif -%}

{%- else -%}
{%- assign col = site.[include.entry.collection] | sort: 'path' -%}
{%- assign col_title = site.collections | where: "label", include.entry.collection | map: 'title' -%}
{%- comment -%}

    Handle collections

{%- endcomment -%}

<li role="none">
<button class="page-navigation-sublist" aria-haspopup="true">{{- include.entry.title | default: col_title | default: 'Unknown' -}}<i class="fas fa-angle-down"></i></button>
<ul class="page-navigation-sublist" role="menu" aria-modal="true">
{% for item in col -%}
<li role="none" {%- if item.url == page.url %} aria-current="page" class="active"{%- endif -%}><a role="menuitem" href="{{- item.url -}}">{%- if item.image -%}<img src="{{- item.image -}}" alt="{{- item.title -}}">{%- else -%}{{- item.title -}}{%- endif -%}</a></li>
{% endfor -%}
</ul>
</li>



{%- endunless -%}
