{%  assign nav = site.data.navigation[include.scope] -%}
{%- assign class = "page-navigation" -%}
{%- if include.scope -%}
{%- assign class = class | append: "-" | append: include.scope -%}
{%- endif -%}

<nav class="{{ class }}"
     aria-labelledby="{{ class }}-title">
  <span class="{{ class }}-title"
        id="{{ class }}-title"
        >{%- if include.scope %} {{ include.scope }} {% endif -%}Page Navigation</span>
  <input id="{{ class }}-control"
         class="{{ class }}-control"
         type="checkbox"
         aria-haspopup="true"
         aria-labelledby="{{ class }}-control-label"
         aria-controls="{{ class }}-list"
         >
  <label id="{{ class }}-control-label"
         class="{{ class }}-control {{ class }}-control-label"
         for="{{ class }}-control"
         >Open {%- if include.scope %} {{ include.scope }} {% endif -%}Page Navigation</label>
{%- if nav %}
<div class="{{ class }}-container" role="menu" aria-modal="true">
<ul id="{{ class }}-list" class="{{ class }}-list">
{%- for item in nav -%}
{%- include navigation-item.html entry=item -%}
{%- endfor -%}
</ul>
</div>
{%- endif %}
</nav>
