{%- comment -%}

  include.author:   author name or id
  include.html:     HTML element to surround it
  include.attr:     HTML attributes to add to element
  include.class:    HTML element class

{%- endcomment -%}

{%- for link in include.author.socials -%}
{%- if include.html -%}
<{{ include.html }} {%- if include.attr %} {{ include.attr }}{%- endif  -%} {%- if include.class %} class="{{ include.class }}"{%- endif  -%}>
{%- endif  -%}
{%- assign template = "social/" | append: link[0] | append: ".html" -%}
{%- assign resource = link[1] -%}
{%- include {{ template }} res=resource -%}
{%- if include.html -%}
</{{ include.html }}>
{%- endif -%}
{%- endfor -%}
