/* Core CSS */

$header-z-index: 6000;
$footer-z-index: $header-z-index;
$sidebar-z-index: $header-z-index + 2000;
$main-z-index: $header-z-index - 2000;

$head-background-color: #f0f0f0; //AliceBlue;
$page-background-color: #ffffff;
$foot-background-color: #f0f0f0;

$head-height: 4em;
$head-padding-top: 10px;
$head-nav-padding-top: 10px;
$nav-button-size: 40px;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $page-background-color;
  //background-image: linear-gradient($page-background-color, $foot-background-color);
  //height: 100%;
}
