/* Core CSS */

$header-z-index: 6000;
$main-z-index: $header-z-index - 2000;
$footer-z-index: $header-z-index;
$navbar-z-index-hidden: -1;
$navbar-z-index: $header-z-index + 2000;
$sidebar-z-index: $main-z-index + 1;

$text-color: #000;
$header-color: $text-color;
$fa-icon-color-button: inherit;
$fa-icon-color: deepskyblue;

$head-background-color: #f0f0f0; //AliceBlue;
$page-background-color: rgba(255,255,255,0.8);
$nav-background-color:  $head-background-color;
$foot-background-color: $head-background-color;
$highligher-background-color: Azure;

$head-height: 4em;
$head-padding-top: 10px;
$head-nav-padding-top: 10px;

$nav-button-size: 40px;
$nav-max-width: 250px;

$foot-padding-bottom: $head-padding-top;
$foot-height: 3em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $page-background-color;
  //background-image: linear-gradient($page-background-color, $foot-background-color);
  //height: 100%;
}

%header-box-shadow {
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.4);
  border: 1px solid $head-background-color;
}
