.page-header {
  position: relative;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: $header-z-index;
  //margin: 5em 0 0 0;
  padding: $head-padding-top 1em;
  width: 100% !important;
  //width: 100vw;
  height: 75vh !important;
  background-image: linear-gradient(to left top, $head-background-color, $page-background-color);
  text-align: center;

  a {
    text-decoration: none;
    display: block;
    color: #333;

    &:hover {
      text-decoration: underline;
      //transition: all 0.2s ease-in-out;
    }
  }

  .page-title {
    display: block;
    flex-grow: 2;

    .page-title-label {
      float: left;
      margin-left: $nav-button-size + 2*$nav-button-padding + 5px;

      .fa-home {
        display: block;
        font-size: $nav-button-size;
      }
    }

    .page-navigation-header {
      float: right;
      margin-right: 2*$nav-button-size + 4*$nav-button-padding + 10px;
      //background-image: linear-gradient(to bottom, $head-background-color, $page-background-color);

      .page-navigation-header-control,
      .page-navigation-header-title {
        display: none;
      }

      ul.page-navigation-header-list {
        //border-bottom: 1px solid #ccc;
        margin-bottom: 3em;
        display: block;
        overflow: hidden;
        list-style-type: none;
        text-align: right;

        li {
          display: inline-block;
          font-size: 0.6 * $nav-button-size;
          margin: 0 5px;
          //font-size: 1.2em;

          a {
            padding: 0.2*$nav-button-size 0.1*$nav-button-size;

            &[href*='paypal.me'] {
              color: white;
              background-color: limegreen;
              text-align: center;
            }
          }
        }
      }
    }

    &:after {
      content: "";
      display: column;
      clear: both;
    }
  }

  .page-description {
    display: block;
    padding: 1rem 5vw 2rem 0;
    font-size: 3rem;
    text-align: right;
  }

  .page-excerpt {
    display: block;
    padding: 0 5vw 1rem 5vw;
    font-size: 1.6rem;
    text-align: left;
  }
}
