.page-header {
  //display: block;
  z-index: 6000;
  margin: 0;
  padding: 0;
  width: 100% !important;
  position: relative;
  height: 3em;

  button,
  img {
    display: none;
  }

  .page-title {
    position: absolute;
    left: 120px;
    top: 0;
    width: 250px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #f0f0f0;
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 5px 2px 0 rgba(204,204,204,0.5);
    background-image: linear-gradient(#f0f0f0, white);
    padding: 10px;
  }

  ul.page-navigation-header-list {
    display: block;
    overflow: hidden;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    //background-color: #f0f0f0;
    background-image: linear-gradient(#f0f0f0, white);
    width: 100%;
    text-align: right;
    height: 3em;

    li {
      display: inline-block;
      margin: 0;
      list-style-type: none;
      color: blue;
      width: 100px;
      //background-image: linear-gradient(#f0f0f0, white);

      a {
        text-decoration: none;
        &:hover {
          font-style: oblique;
        }
      }
    }
  }
}
