.page-header {
  display: block;
  z-index: $header-z-index;
  margin: 0;
  padding: 0;
  width: 100% !important;
  position: relative;
  height: $head-height;
  background-image: linear-gradient($head-background-color, $page-background-color);

  button {
    display: none;
  }

  a {
    text-decoration: none;
    //transition: all 0.2s ease-in-out;
  }

  .page-title {
    position: absolute;
    left: 15%;
    top: 0;
    width: 250px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid $head-background-color;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    //box-shadow: 5px 5px 2px 0 rgba(204,204,204,0.5);
    background-image: linear-gradient($head-background-color, $page-background-color);
    padding: $head-padding-top;
  }

  ul.page-navigation-header-list {
    //display: block;
    overflow: hidden;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: $head-padding-top;
    //padding-bottom: 10px;
    //padding-right: 10px;
    //background-color: $head-background-color;
    //background-image: linear-gradient($head-background-color, $page-background-color);
    //width: 100%;
    text-align: right;
    height: $head-height;

    li {
      //float: right;
      display: inline-block;
      color: blue;
      font-size: 0.6 * $nav-button-size;
      margin: 0 5px;
      //font-size: 1.2em;
      //background-image: linear-gradient($head-background-color, $page-background-color);

      //img {
      //  height: 1.2em;
      //}

      a {
        text-decoration: none;
        display: block;
        color: blue;
        padding: 0.2*$nav-button-size 0.1*$nav-button-size;

        &[href*='paypal.me'] {
          color: white;
          background-color: limegreen;
          text-align: center;
          border: 1px solid $head-background-color;
        }
        &:hover {
          color: red;
          box-shadow: inset 0px 8px 16px 0px rgba(0,0,0,0.2);
          text-decoration: underline;
          transition: all 0.6s ease-in-out;
          //background-color: red;
          //color: white;
        }
      }
    }
  }
}
