nav.page-navigation-main {
  position: fixed !important;
  top: 0;
  left: 0;
  padding: $head-padding-top;
  z-index: $sidebar-z-index;
  height: 100%;
  width: 0;

  #page-navigation-main-title {
    display: block;
    position: absolute;
    width: $nav-button-size;
    height: 0;
    padding-top: $nav-button-size;
    overflow: hidden;
    border: 1px solid #ccc;
    background: white 10px 10px / 20px 20px no-repeat;
    background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
    background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
    z-index: $sidebar-z-index + 1;
    transition: box-shadow 0.5s ease-in-out;

    &:hover {
      @extend %header-box-shadow;
      transition: all 0.5s ease-in-out;
    }
  }

  ul.page-navigation-main-list {
    display: none;
    position: fixed;
    //background-image: linear-gradient(to left, $foot-background-color, $page-background-color);
    background-color: $nav-background-color;
    top: 0;
    left: 0;
    min-width: 14%;
    padding-top: 2 * $head-padding-top + $nav-button-size;
    box-shadow: /*inset*/ 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 100%;
    transition: 1s;

    li {
      display: block;

      button {
        background: none !important;
        color: inherit;
        border: inherit;
        padding: inherit;
        font: inherit;
        cursor: pointer;
        padding: 5px 0;
        display: block;
        width: 100%;
        text-align: left;
        line-height: initial;

        &:after {
          content: "\25bc";
          text-align: right;
        }
      }

      ul {
        display: none;
        background-color: #fff;
      }

      &:focus-within /*has(> button:active)*/ ul {
        display: block;
      }

      a {
        display: block;
        padding: 5px 0;
        text-decoration: none;
        color: #000;
      }
    }
  }

  &:hover {

    #page-navigation-main-title {
      background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0),
                        linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
      @extend %header-box-shadow;
    }

    ul.page-navigation-main-list {
      display: block;
    }
  }
}

//#page-navigation-main-title:focus + ul.page-navigation-main-list {
//  display: block;
//}

