aside.page-side {
  position: sticky !important;
  position: -webkit-sticky;
  top: 5em;
  left: 0;
  float: left;
  margin: 2em 2*$head-padding-top !important;
  width: 5%;
  height: 100px;
  z-index: $main-z-index + 1;
  //border: 1px solid #ccc;
  //border-radius: 10px;
  //background-color: $nav-background-color;

  &:after {
    content: "";
    display: column;
    clear: both;
  }

  .page-sidebar-label,
  .page-sidebar-button {
    display: none;
  }

  .page-sidebar-button {
    display: block;
    border: none;
    background: none !important;
    color: inherit;
    font: inherit;
    text-align: left;
    cursor: pointer;
    padding: 0;
    margin: 0;

    i {
      display: block;
      font-size: $nav-button-size;
      margin: 5px 0;
    }
  }

  ul.page-sidebar-content {
    list-style-type: none;
    display: none;

    li {
      display: block;
      text-align: left;

      i {
        font-size: $nav-button-size;
        margin: 5px 0;
        opacity: 0.5;
        color: deepskyblue;
        //border-radius: 50%;
        //background-color: #f0f0f0;
      }

      span.social-link-text {
        display: none;
      }
    }
  }

  &:focus-within ul.page-sidebar-content {
    display: block;
  }
}
