aside.page-toc {
  position: sticky !important;
  top: $head-padding-top;
  right: 0;
  float: right;
  margin: 2em 3% !important;
  width: 15%;
  z-index: $main-z-index + 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: $nav-background-color;

  @media (max-width: 400px) {
    display: none;
  }

  &:hover {
    @extend %header-box-shadow;
    transition: 0.3s;
  }

  &:after {
    content: "";
    display: column;
    clear: both;
  }

  .page-toc-label {
    padding: 5px;
  }

  button {
    display: none;
  }

  ul.page-toc-content {
    list-style-type: none;
    border-top: 1px solid #ccc;

    ul {
      list-style-type: none;
    }

    li {
      border-top: 1px solid #ccc;

      a {
        display: block;
        padding: 5px;
        text-decoration: none;
      }

      a:hover {
        //font-weight: bold;
        text-decoration: underline;
        transition: all 0.5s ease-in-out;
      }

      ul > li a {
        padding-left: 1em;
      }

      ul li ul > li a {
        padding-left: 2em;
      }

      ul li ul li ul > li a {
        padding-left: 3em;
      }

      ul li ul li ul li ul > li a {
        padding-left: 4em;
      }

      ul li ul li ul li ul li ul > li a {
        padding-left: 5em
      }
    }

    > li:first-child {
      border: none;
    }
  }
}
