aside.page-top {
  position: fixed;
  //float: right;
  bottom: $foot-height + 1em;
  right: 0;
  margin-right: 3% !important;
  width: $nav-button-size;
  height: $nav-button-size;
  line-height: $nav-button-size;
  background-color: $nav-background-color;
  border: 1px solid #ccc;
  z-index: $main-z-index + 1;

  a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    color: #666;
    width: $nav-button-size;
    height: $nav-button-size;
    padding: auto;
    //-webkit-appearance: button;
    //-moz-appearance: button;
    //appearance: button;
    text-align: center;
    transition: box-shadow 0.5s ease-in-out;

    &:hover {
      @extend %header-box-shadow;
      text-decoration: underline;
      transition: all 0.5s ease-in-out;
    }
  }
}
