<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="https://schema.org/{%- if page.type -%}{{ page.type }}{%- else -%}WebPage{%- endif -%}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-main-content" aria-label="Content" aria-labelledby="page-label" itemprop="mainContentOfPage">
      <div class="page-main-content-wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>

